@import 'assets';

body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background: #f5f5f5;
}

#home-page {
    background: url('../images/background.svg');
    background-size: contain;
    background-attachment: fixed;
}

.top-container {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 80vh;
    min-height: 80vh;
    overflow: hidden;
    background: url('../images/main.jpg');
    background-size: cover;
}

.background-holder {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .background {
        position: absolute;
        width: 100%;
        height: auto;
    }
}

.home-header-container {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

.header-logo {
    width: 20%;
    height: auto;
    display: block;
}

.main-header {
    color: $white;
    font-family: $serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 45px;
    text-align: center;
}
.main-header2 {
    color: $light-grey;
    font-family: $serif2;
    font-size: 40px;
    text-align: center;
}
.main-header3 {
    color: $black;
    font-family: $serif2;
    font-size: 40px;
    text-align: center;
}

.service-section {
    padding-top: 25px;
    box-shadow: 0 5px 5px -5px $white;
    background: #f5f5f5;
}

.home-service-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: auto;
    padding-bottom: 75px;
    background: rgba(250,250,250,0.8);
}

.home-service-column {
    margin-top: -100px;
    width: 80%;
    background: $red;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 20px;
    box-shadow: 0px 0px 3px 1px $grey;
}

.home-main-header {
    font-family: $serif2;
    font-size: 35px;
    color: $white;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}

.home-main-par {
    font-family: $sans;
    color: $white;
    font-size: 20px;
    width: 80%;
    margin: 20px auto;
}

.header2 {
    font-family: $serif2;
    font-size: 35px;
    color: $black;
    text-align: center;
    font-weight: 600;
}
.header2-underline {
    width: 100px; 
    height: 3px; 
    background: $red;
    margin: 0 auto 30px auto;
}

.service-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.service-holder {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.home-icon {
    max-width: 75px;
    max-height: 75px;
    width: auto;
    height: auto;
}

.service-header {
    font-family: $mono;
    font-size: 30px;
    color: $black;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
}
.service-par {
    font-family: $sans;
    font-size: 22px;
    color: $grey;
    text-align: center;   
}

.home-promise-section {
    box-shadow: 0px -5px 8px -5px #e9e9e9;
    background: #e9e9e9;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
}

.home-par {
    font-family: $mono;
    font-size: 22px;
    text-align: center;
    width: 80%;
    min-width: 300px;
    margin: 20px auto;
    padding-top: 20px;
}
.home-par-small {
    font-family: $sans;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    min-width: 300px;
}

.home-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.home-column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 40%;
    max-width: 500px;
    min-width: 250px;
    img {
        width: 80%;
        max-width: 400px;
        min-width: 250px;
        height: auto;
        max-height: 80px;
        display: block;
    }
}

.home-promise-header {
    font-family: $serif2;
    font-size: 35px;
    color: $black;
    text-align: center;
    padding-top: 50px;
}
.home-promise-header-underline {
    width: 150px;
    height: 3px;
    background: $red;
    margin: 0 auto 30px auto;
}
.home-promise-par {
    font-family: $sans;
    font-size: 20px;
    color: $grey;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}